<div class="container mx-auto py-4">
  <form [formGroup]="form">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input id="searchInput" type="text" nz-input placeholder="Login" formControlName="search"/>
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSize="large" nzSearch (click)="onSubmit()">Search</button>
    </ng-template>
  </form>
</div>

<nz-alert
  *ngIf="hasError"
  nzType="error"
  nzCloseable
  [nzMessage]="errorTitle"
  [nzDescription]="errorDescription"
  (nzOnClose)="closeError()"></nz-alert>

<div class="container mx-auto py-4">
  <nz-table
    id="listTable"
    #rowSelectionTable
    nzShowPagination
    nzSize="middle"
    [nzData]="listOfData"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzScroll]="{ y: '55vh' }"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Login</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listOfData">
      <td>
        <nz-avatar nzIcon="user"
                   [nzShape]="'square'"
                   [nzSize]="32"
                   [nzSrc]="data.avatar_url"></nz-avatar>
      </td>
      <td>{{ data.login }}</td>
      <td>{{ data.type }}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
